<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mashup.chinchin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chinchin">
        <activity
            android:name="com.mashup.presenter.dev.BridgeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Chinchin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mashup.presenter.main.MainActivity" />
        <activity
            android:name="com.mashup.presenter.login.LoginActivity"
            android:exported="true"
            android:label="로그인"
            android:theme="@style/Theme.Chinchin.NoActionBar" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/KAKAO_APP_REDIRECTION_SCHEME" />
            </intent-filter>
        </activity>
        <activity android:name="com.mashup.presenter.receive_alarm.ReceiveAlarmActivity" />
        <activity android:name="com.mashup.presenter.group_detail.GroupDetailActivity" />
        <activity android:name="com.mashup.presenter.room_test.RoomTestActivity" />
        <activity android:name="com.mashup.presenter.friend_detail.FriendDetailActivity" />
        <activity android:name="com.mashup.presenter.set_group.SetGroupActivity"/>
        <activity android:name="com.mashup.presenter.add_friend.AddFriendActivity" />
        <activity android:name="com.mashup.presenter.reply_preference.ReplyPreferenceActivity" />
        <activity android:name="com.mashup.presenter.send_preference.SendPreferenceActivity" />
        <activity android:name="com.mashup.presenter.dialog_test.DialogActivity" />
    </application>

</manifest>
